body {
	font-family: 'Playfair Display SC', sans-serif;
	position: relative;
	min-height: 100vh;
}

.nav {
	display: flex;
	justify-content: space-between;
	background-color: #000058;
	color:  white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	border-bottom: 1px solid whitesmoke;
	height: 60px;
}

.nav-left > img {
	max-width: 100%;
	height: 35px;
	margin-left: 10px;
	padding-top: 10px;
	/*border:  1px solid white;*/
}

.nav-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 25px;
	/*border: 1px solid black;*/
}

.nav-left-header:hover {
	cursor: pointer;
	color: lightgray;
}

.nav-right {
	display: none;
}

.nav-mobile {
  padding: 15px 20px 0px 0px;
}

.nav-mobile:hover {
	cursor: pointer;
}

.nav-mobile:hover {
  padding: 15px 20px 0px 0px;
  color: lightgray;
}

span {
	display: block;
	color:  white;
  width: 30px;
  height: 7px;
  border-bottom: solid white 3px;
}

span:hover {
	color: lightgray;
}

@media (min-width: 900px) {
	.nav-right {
		display: flex;
		align-items: flex-end;
		list-style: none;
		height: 40px;
		margin-right: -10%;	
		/*border: 1px solid white;*/
	}

	.nav-mobile {
	  padding: 10px 20px 0px 0px;
	}

	span {
		display: none;
		color:  whitesmoke;
		width: 30px;
		height: 7px;
		border-bottom: solid white 3px;
	}
}

.nav-right > li:hover {
	color: lightgray;
}

.nav-right > li {
	margin: 0 20px;
	cursor: pointer;
}

.main-background-image {
	background-image: url("../Pics/background_image.jpeg");
	height: 740px;
	background-position: center center;
	background-size: cover;
}

.section-about {
	display:  none;
	justify-content: space-between;
	background-color: whitesmoke;
	height:  1100px;
	opacity: 0;
	background-image: url("../Pics/outdoor2.jpeg");
	background-position: center right;
	background-size: cover;
}

.section-music {
	display:  none;
	justify-content: space-between;
	background-color: whitesmoke;
	height:  800px;
	opacity: 0;
	background-image: url("../Pics/harps.jpeg");
	background-position: center center;
	background-size: cover;
}

.section-shows {
	display:  none;
	justify-content: center;
	background-color: whitesmoke;
	padding-bottom: 85px;
	text-align: center;
	opacity: 0;
	background-image: url("../Pics/outdoor.jpeg");
	background-position: center center;
	background-size: cover;
}

.section-contact {
	display:  none;
	justify-content: center;
	background-color: whitesmoke;
	text-align: center;
	height: 750px;
	margin: 0;
	opacity: 0;
	background-image: url("../Pics/outdoor3.jpeg");
	background-position: center top;
	background-size: cover;
}

.shows-container {
	padding-top: 2.5rem;
}

.shows-header {
	color: white;
	font-weight: bolder;
	font-size: 36px;
}

.show-1 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.show-2 {
	padding-bottom: 2.5rem;
}

.show-1-title {
	padding-bottom: .5rem;
	color: white;
}

.show-2-title {
	padding-bottom: .5rem;
	color: white;
}

.show-3-title {
	padding-bottom: .5rem;
	color: white;
}

.about-p {
	margin: 260px 85px 350px 85px;
	padding: 10px 40px 0px 40px;
	font-size: 20px;
	text-align: center;
	background-color: white;
	opacity: .5;
	color: black;
}

.about-me-back-img-container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  height: 600px;
  grid-gap: 15px;
  background-color: transparent;
  padding: 15px;
  padding-top: 260px;
}

@media (max-width: 1300px) {
	.about-me-back-img-container {
	  display: grid;
	  grid-template-columns: 250px 250px;
	  height: 600px;
	  grid-gap: 15px;
	  background-color: white;
	  padding: 15px;
	}
}

@media (max-width: 900px) {
	.about-me-back-img-container {
	  display: grid;
	  grid-template-columns: 300px;
	  height: 1250px;
	  grid-gap: 15px;
	  background-color: white;
	  padding: 15px;
	}
}

.show {
  padding-top: 55px;
  position: relative;
  display:  flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
}

.hide {
	position: fixed;
	right: 100;
}

.about-me-image {
  background-size: cover;
  background-position: center center;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.about-me-img-1 {
	color: transparent;
	background-image: url("../Pics/Tayosh.jpeg");
}

.about-me-img-1:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.75;
	font-weight: bold;
	cursor: pointer;
	color: white;
	background-image: url("../Pics/Tayosh.jpeg");
}

.about-me-img-2 {
	color: transparent;	
	background-image: url("../Pics/sbnc_band.jpeg");
}

.about-me-img-2:hover {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 75px;
	font-weight: bold;
	opacity: 0.75;
	cursor: pointer;
	color: white;
	background-image: url("../Pics/sbnc_band.jpeg");
}

.about-me-img-3 {
	color: transparent;
	background-image: url("../Pics/allura.jpeg");
}

.about-me-img-3:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	opacity: 0.75;
	cursor: pointer;
	color: white;
	background-image: url("../Pics/allura.jpeg");
}

.about-me-img-4 {
	color: transparent;
	background-image: url("../Pics/wild_stallions.jpeg");
}

.about-me-img-4:hover {
	display: flex;
	justify-content: center;
	align-items: center;	
	font-weight: bold;
	opacity: 0.75;
	cursor: pointer;
	color: white;
	background-image: url("../Pics/wild_stallions.jpeg");
}

.about-me-img-5 {
	color: transparent;
	background-image: url("../Pics/theyetis.JPG");
}
.about-me-img-5:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	opacity: 0.75;
	cursor: pointer;
	color: white;
	background-image: url("../Pics/theyetis.JPG");
}

.about-me-img-6 {
	color: transparent;
	background-image: url("../Pics/deepcuts.jpg");
}

.about-me-img-6:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	opacity: 0.75;
	cursor: pointer;
	color: white;
	background-image: url("../Pics/deepcuts.jpg");
}

.dropdown-menu {
  background-color: white;
  display: none;
  position: absolute;
  top: 10px;
  width: 175px;
  z-index: 20;
}

.menu-item-list {
	list-style-type: 	none;
	padding: 0;
}

.menu-item-list > li {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.li-one:hover {
	background-color: lightgray;
	cursor: pointer;
}

.li-two:hover {
	background-color: lightgray;
	cursor: pointer;
}

.li-three:hover {
	background-color: lightgray;
	cursor: pointer;
}

.li-four:hover {
	background-color: lightgray;
	cursor: pointer;
}

.dropdown-menu#menu-1 {
  right: 10px;
}

.show-menu {
  display: block;
}

.form-container {
	height: 250px;
}

button {
	cursor: pointer;
}

ul {
	margin: 0px;
	padding:0px;
}

li {
	list-style-type: none;
}

label {
	width: 200px;
	padding: 12px 20px;
	margin: 0 auto;
	box-sizing: border-box;
	display:block;
	position:relative;
	}

input {
	width: 100%;
}

input > span {
	position:absolute;
	left:0;
	}

textarea {
	width: 400px;
	height: 150px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4.5rem; 
	background-color: #000058;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid whitesmoke;
}

.footer-booking:hover {
	color: lightblue;
	cursor: pointer;
}

.fb-image {
	width:  20px;
	height: 20px;
	margin-left: 10px;
	margin-right: 5px;
}

.insta-image {
	width:  20px;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.fb-image:hover {
	cursor: pointer;
}

.insta-image:hover {
	cursor: pointer;
}

